<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% extends 'base.html' %}
{% block title %}FM Compare Tool{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">⚽ Football Manager Compare Tool 💻</h1>
  <p class="lead">Want to know which of your players will make you feel like you're actually good at this game?</p>
        <p>You've found the right place!</p>
  <hr class="my-4">
    <a href="https://www.youtube.com/watch?v=xchgxfgT0pM&ab_channel=OvidiuMatusa" class="btn btn-warning">How To Use It</a>

    <br><br>

        {% if not logged_in: %}
  <a
    href="{{ url_for('register') }}"
    class="btn btn-primary btn-block btn-large" style="width: 5rem"
    >Register</a
  > or   <a
    href="{{ url_for('login') }}"
    class="btn btn-primary btn-block btn-large"  style="width: 5rem"
    >Login</a
  >
        {% else %}

<form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.file }}
    <input type="submit">
</form>


        <br>

<div class="dropdown" style="display:inline">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #333333; width: 6rem">DR/DL
  <span class="caret"></span></button>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='inverted_wing_back_d') }}">IWB-D</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='inverted_wing_back_s') }}">IWB-S</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='inverted_wing_back_a') }}">IWB-A</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='complete_wing_back_s') }}">CWB-S</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='complete_wing_back_a') }}">CWB-A</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='wing_back_d') }}">WB-D</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='wing_back_s') }}">WB-S</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='wing_back_a') }}">WB-A</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='full_back_d') }}">FB-D</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='full_back_s') }}">FB-S</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='full_back_a') }}">FB-A</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='inverted_full_back') }}">IFB</a></li>
  </ul>

</div>

                <div class="dropdown" style="display:inline">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #333333; width: 6rem">DC
  <span class="caret"></span></button>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="{{ url_for('role', selected_role='central_defender_d') }}">CD-D</a></li>
        <li><a class="dropdown-item" href="{{ url_for('role', selected_role='central_defender_s') }}">CD-S</a></li>
        <li><a class="dropdown-item" href="{{ url_for('role', selected_role='central_defender_c') }}">CD-C</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='ball_playing_defender_d') }}">BPD-D</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='ball_playing_defender_s') }}">BPD-ST</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='ball_playing_defender_c') }}">BPD-CO</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='wide_center_back_d') }}">WCB-D</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='wide_center_back_s') }}">WCB-S</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='wide_center_back_a') }}">WCB-A</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='libero_d') }}">Lib-D</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='libero_s') }}">Lib-S</a></li>
  </ul>
</div>

        <div class="dropdown" style="display:inline">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #333333; width: 6rem">DM
  <span class="caret"></span></button>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='ball_winning_midfielder_d') }}">BWM-D</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='ball_winning_midfielder_s') }}">BWM-S</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='defensive_midfielder_d') }}">DM-D</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='defensive_midfielder_s') }}">DM-S</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='segundo_volante_s') }}">SV-S</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='segundo_volante_a') }}">SV-A</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='half_back') }}">HB</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='anchor') }}">A</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='deep_lying_playmaker_d') }}">DLP-D</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='deep_lying_playmaker_s') }}">DLP-S</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='roaming_playmaker') }}">RPM</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='regista') }}">Reg</a></li>
  </ul>

</div>

                <div class="dropdown" style="display:inline">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #333333; width: 6rem">MC
  <span class="caret"></span></button>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='mezzala_s') }}">Mez-S</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='mezzala_a') }}">Mez-A</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='advanced_playmaker_s') }}">AP-S</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='advanced_playmaker_a') }}">AP-A</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='deep_lying_playmaker_d') }}">DLP-D</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='deep_lying_playmaker_s') }}">DLP-S</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='roaming_playmaker') }}">RPM</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='central_midfielder_d') }}">CM-D</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='central_midfielder_s') }}">CM-S</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='central_midfielder_a') }}">CM-A</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='box_to_box_midfielder') }}">BBM</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='carrilero') }}">Car</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='ball_winning_midfielder_d') }}">BWM-D</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='ball_winning_midfielder_s') }}">BWM-S</a></li>
  </ul>

</div>

                <div class="dropdown" style="display:inline">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #333333; width: 6rem">MR/ML
  <span class="caret"></span></button>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='winger_s') }}">W-S</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='winger_a') }}">W-A</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='inverted_winger_s') }}">IW-S</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='inverted_winger_a') }}">IW-A</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='inside_forward_s') }}">IF-S</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='inside_forward_a') }}">IF-A</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='wide_playmaker_s') }}">WP-S</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='wide_playmaker_a') }}">WP-A</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='defensive_winger_d') }}">DW-D</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='defensive_winger_s') }}">DW-S</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='wide_midfielder_d') }}">WM-D</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='wide_midfielder_s') }}">WM-S</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='wide_midfielder_a') }}">WM-A</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='raumdeuter') }}">Raum</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='advanced_playmaker_s') }}">AP-S</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='advanced_playmaker_a') }}">AP-A</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='trequartista') }}">TREQ</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='wide_target_forward_s') }}">WTF-S</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='wide_target_forward_a') }}">WTF-A</a></li>
  </ul>

</div>

        <div class="dropdown" style="display:inline">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background: #333333; width: 6rem">AM/ST
  <span class="caret"></span></button>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='advanced_playmaker_s') }}">AP-S</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='advanced_playmaker_a') }}">AP-A</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='attacking_midfielder_s') }}">AM-S</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='attacking_midfielder_a') }}">AM-A</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='shadow_striker') }}">SS</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='enganche') }}">ENG</a></li>
    <li><a class="dropdown-item" href="{{ url_for('role', selected_role='trequartista') }}">TREQ</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='advanced_forward') }}">AF</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='pressing_forward_d') }}">PF-D</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='pressing_forward_s') }}">PF-S</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='pressing_forward_a') }}">PF-A</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='deep_lying_forward_s') }}">DLF-S</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='deep_lying_forward_a') }}">DLF-A</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='complete_forward_s') }}">CF-S</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='complete_forward_a') }}">CF-A</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='false_nine') }}">F9</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='Poacher') }}">P</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='target_forward_s') }}">TF-S</a></li>
      <li><a class="dropdown-item" href="{{ url_for('role', selected_role='target_forward_a') }}">TF-A</a></li>
  </ul>
</div>

      <br>
      <br><br>
            <a class="btn btn-secondary btn-block btn-large" href="{{ url_for('logout') }}">Log Out</a>

        {% endif %}

            <br>      <br>

    <div class="container">
    <span class="text-muted">Made by veed.</span>
  </div>
    <div id="donate-button-container">
<div id="donate-button"></div>
<script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
<script>
PayPal.Donation.Button({
env:'production',
hosted_button_id:'VYVGHTWDGEEBC',
image: {
src:'https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif',
alt:'Donate with PayPal button',
title:'PayPal - The safer, easier way to pay online!',
}
}).render('#donate-button');
</script>
</div>


{% endblock %}
